@model CHTC.Models.TbSanPham

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_ViewGD.cshtml";
}

<main class="app-content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item">Quản lý sản phẩm</li>
            <li class="breadcrumb-item"><a href="#">Xóa</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <h3 class="tile-title">Xóa thông tin</h3>
                <div class="tile-body">

                    <div>
                        <div class="row">
                            <div class="col-md-4">
                                <p>Mã sản phẩm: </p>

                            </div>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.MaSanPham)

                            </div>
                            <div class="col-md-4">
                                <p>Tên sản phẩm:</p>
                            </div>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.TenSanPham)

                            </div>
                            <div class="col-md-4">
                                <p>Mô tả:</p>
                            </div>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.MoTa)

                            </div>
                            <div class="col-md-4">
                                <p>Ảnh sản phẩm:</p>
                            </div>
                            <div class="col-md-8 img-admin">
                                <img src="~/AnhSp/@Model.AnhSp" />

                            </div>
                            <div class="col-md-4">
                                <p> Mã Loại hàng:</p>
                            </div>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.loaihangID.TenLh)
                            </div>
                            <div class="col-md-4">
                                <p>Tình trạng:</p>
                            </div>
                            <div class="col-md-8">
                                @if (Model.TinhTrang == true)
                                {
                                    <p>Đã bán</p>

                                }
                                else
                                {
                                    <p> Chưa bán</p>
                                }
                            </div>
                            <div class="col-md-4">
                                <p>Giá thị trường:</p>
                            </div>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.Gia)
                            </div>
                            <form asp-action="Delete">
                                <input type="hidden" asp-for="ID" />
                                <input type="submit" value="Delete" class="btn btn-danger" /> |
                                <a asp-action="Index">Back to List</a>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>
@*<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TbSanPham</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaSanPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaSanPham)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenSanPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenSanPham)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnhSp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnhSp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDloaiHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDloaiHang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TinhTrang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TinhTrang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gia)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
*@