@model IEnumerable<TbChiTietDh>

<h2>TbChiTietDh</h2>
<p>Danh sách các chi tiết đơn hàng cho đơn hàng: @ViewBag.MaDonHang</p>

<table class="table">
    <thead>
        <tr>
            <th>Đơn hàng</th>
            <th>Sản phẩm</th>
            <th>Thú cưng</th>
            <th>Thuốc tiêm</th>
            <th>Số lượng</th>
            <th>Giá</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tbChiTietDh in Model)
        {
            <tr>
                <td>@tbChiTietDh.IDdonHangNavigation.MaDonHang</td>
                <td>@tbChiTietDh.IDsanPham</td>
                <td>@tbChiTietDh.IDthuCung</td>
                <td>@tbChiTietDh.IDtiemChung</td>
                <td>@tbChiTietDh.SoLuong</td>
                <td>@tbChiTietDh.Gia</td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>