@model CHTC.Models.TbNhaCc

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_ViewGD.cshtml";
}
<main class="app-content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item">Quản lý nhà cung cấp</li>
            <li class="breadcrumb-item"><a href="#">Thông tin</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <h3 class="tile-title">Thông tin nhà cung cấp </h3>
                <div class="tile-body">

                    <div>
                        <div class="row">
                            <div class="col-md-4">
                                <p>Mã nhà cung cấp: </p>

                            </div>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.MaNhaCc)

                            </div>
                            <div class="col-md-4">
                                <p>Tên nhà cung cấp:</p>
                            </div>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.TenNhaCc)

                            </div>
                            <div class="col-md-4">
                                <p>Số điện thoại:</p>
                            </div>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.Sdt)

                            </div>
                            <div class="col-md-4">
                                <p>Địa chỉ:</p>
                            </div>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.DiaChi)

                            </div>
                            <div class="col-md-8">
                                <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
                                <a class="btn btn-info" asp-action="Index">Back to List</a>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>

@*<h1>Details</h1>

<div>
    <h4>TbNhaCc</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNhaCc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNhaCc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenNhaCc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenNhaCc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sdt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sdt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@
